In [37]:
import pandas as pd
import numpy as np

#### Joining our previous dataset with the longitude and latitude based on postal code column

In [4]:
# we load our data
df_main = pd.read_csv("final_dataset.csv", index_col=0)

In [5]:
df_main.head()

  postal_code           borough                     neighbourhood
0         M3A        North York                         Parkwoods
1         M4A        North York                  Victoria Village
2         M5A  Downtown Toronto                      Harbourfront
3         M6A        North York  Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto                      Queen's Park

In [28]:
# we load longitue and latitude values from our file
df_cord = pd.read_csv("Geospatial_Coordinates.csv")

In [30]:
df_cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [32]:
df_cord.columns = ["postal_code", "lati", "long"]

In [34]:
# now we should merge
df_merged = pd.merge(df_main, df_cord, how="left", on="postal_code")

In [35]:
df_merged.head()

,postal_code,borough,neighbourhood,lati,long
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494

In [36]:
# we save the file for stage 3
df_merged.to_csv("final_dataset_cord.csv")