In [4]:
import pandas as pd
import numpy as np
import folium
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import requests

In [93]:
url = r"https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [94]:
web_text = requests.get(url).text
soup = BeautifulSoup(web_text, 'lxml')

In [95]:
postal_code, borough, neighbourhood = [], [], []
for items in soup.find('table', class_='wikitable').find_all('tr')[1::1]:
    data = items.find_all(['th','td'])
    try:
        postal_code.append(data[0].text)
        borough.append(data[1].text)
        neighbourhood.append(data[2].text)
    except IndexError:pass

In [96]:
df_main = pd.DataFrame({"postal_code":postal_code, "borough":borough, "neighbourhood":neighbourhood})

In [97]:
df_main.head()

  postal_code           borough       neighbourhood
0         M1A      Not assigned      Not assigned\n
1         M2A      Not assigned      Not assigned\n
2         M3A        North York         Parkwoods\n
3         M4A        North York  Victoria Village\n
4         M5A  Downtown Toronto      Harbourfront\n

In [98]:
df_main.neighbourhood.str.contains("\n").count()

287

In [99]:
df_main.neighbourhood.str.replace("\n","").head()

0        Not assigned
1        Not assigned
2           Parkwoods
3    Victoria Village
4        Harbourfront
Name: neighbourhood, dtype: object

In [100]:
df_main.neighbourhood = df_main.neighbourhood.str.replace("\n","")

In [101]:
df_main.head()

  postal_code           borough     neighbourhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront

In [102]:
df_main.drop(df_main.loc[df_main["borough"]=="Not assigned"].index,axis=0, inplace=True)

In [103]:
df_main.head()

  postal_code           borough     neighbourhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor

In [105]:
df_main.loc[df_main["neighbourhood"]=="Not assigned",['neighbourhood']] = df_main.borough

In [106]:
df_main[df_main.postal_code.duplicated()].count()

postal_code      107
borough          107
neighbourhood    107
dtype: int64

In [90]:
def merge_dubplicates(data, dup_col, merge_col, col_num):
    
    row = []
    for i in data.dup_col.unique() :
        ne = ''
        for j in data.loc[df_main.dup_col==i].iterrows():
            ne =   j[1][2] + ", " + ne 
        row.append([i, ne[0:-2]])
    df = pd.DataFrame(row, columns=[dup_col, merge_col])
    return df

103

In [115]:
for i in df_main.postal_code.unique():
    df = df_main.loc[df_main.postal_code=="M9M"]

array(['M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M9A', 'M1B', 'M3B', 'M4B',
       'M5B', 'M6B', 'M9B', 'M1C', 'M3C', 'M4C', 'M5C', 'M6C', 'M9C',
       'M1E', 'M4E', 'M5E', 'M6E', 'M1G', 'M4G', 'M5G', 'M6G', 'M1H',
       'M2H', 'M3H', 'M4H', 'M5H', 'M6H', 'M1J', 'M2J', 'M3J', 'M4J',
       'M5J', 'M6J', 'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M1L',
       'M2L', 'M3L', 'M4L', 'M5L', 'M6L', 'M9L', 'M1M', 'M2M', 'M3M',
       'M4M', 'M5M', 'M6M', 'M9M', 'M1N', 'M2N', 'M3N', 'M4N', 'M5N',
       'M6N', 'M9N', 'M1P', 'M2P', 'M4P', 'M5P', 'M6P', 'M9P', 'M1R',
       'M2R', 'M4R', 'M5R', 'M6R', 'M7R', 'M9R', 'M1S', 'M4S', 'M5S',
       'M6S', 'M1T', 'M4T', 'M5T', 'M1V', 'M4V', 'M5V', 'M8V', 'M9V',
       'M1W', 'M4W', 'M5W', 'M8W', 'M9W', 'M1X', 'M4X', 'M5X', 'M8X',
       'M4Y', 'M7Y', 'M8Y', 'M8Z'], dtype=object)

In [118]:
df_main.loc[df_main.postal_code=="M9M"]

    postal_code     borough neighbourhood
137         M9M  North York         Emery
138         M9M  North York     Humberlea

In [164]:
row = []
for i in df_main.postal_code.unique() :
    ne = ''
    for j in df_main.loc[df_main.postal_code==i].iterrows():
        ne =   j[1][2] + ", " + ne 
    row.append([i, ne[0:-2]])
pd.DataFrame(row, columns=["postal_code", "neigbourhood"])

In [178]:
ne = ''
for j in df_main.loc[df_main.postal_code=="M9M"].iterrows():
    print(j[1])

postal_code             M9M
borough          North York
neighbourhood         Emery
Name: 137, dtype: object
postal_code             M9M
borough          North York
neighbourhood     Humberlea
Name: 138, dtype: object